<div style="width: 100%; text-align: center;" title="Không tìm thấy dữ liệu, hãy thử tải lại trang hoặc thao tác lại từ bước đầu">
    <img src="~/Images/ErrorTruck.png" style="max-width: 100%; height: auto;"/>
</div>